<div class="container__small-card">
  <div class="container__small-card-content">
    <!-- Título -->
    <div class="small-card__title">
      <h1>Linguagens de Programação</h1>
    </div>

    <!-- Ícones -->
    <div class="icons-linguagem">
      <div class="icons-linguagem">
        <!-- Java -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=13679&format=png&color=000000"
               alt="Java"
               class="icon">
        </a>

        <!-- C# -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=45490&format=png&color=000000"
               alt="C#"
               class="icon">
        </a>

        <!-- Python -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=13441&format=png&color=000000"
               alt="Python"
               class="icon">
        </a>

        <!-- Banco de Dados -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=8305&format=png&color=909090FA"
               alt="Banco de Dados"
               class="icon">
        </a>

        <!-- Kotlin -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=ZoxjA0jZDdFZ&format=png&color=000000"
               alt="Kotlin"
               class="icon">
        </a>

        <!-- JavaScript -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=PXTY4q2Sq2lG&format=png&color=000000"
               alt="JavaScript"
               class="icon">
        </a>

        <!-- HTML -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=20909&format=png&color=000000"
               alt="HTML"
               class="icon">
        </a>

        <!-- CSS -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=21278&format=png&color=000000"
               alt="CSS"
               class="icon">
        </a>

        <!-- React -->
        <a href="#">
          <img src="https://img.icons8.com/?size=80&id=123603&format=png&color=000000"
               alt="React"
               class="icon">
        </a>
      </div>
    </div>
  </div>

  <!-- Separador -->
  <div class="container__small-card__separator">
    <hr>
  </div>
</div>


