<div class="container__content">
  <div class="content__cover">
    <div class="content__title">
      <h1 class="certificados">CERTIFICADOS</h1>
      <hr />
    </div>
<p><a href="https://portal.uniasselvi.com.br/institucional/diploma-digital/1472.1472.205426fe8ffd6bdf5b5b33f0c064ce4fd0a56b03c33a7613b3f5b1d22b9d7526"
      target="_blank"> Engenharia Mecânica</a></p>
      <p><a href="https://www.fiap.com.br/consultadocumento"
        target="_blank">Certificado de Qualificação Profissional em Análise e Design Web 2.0</a> - Código da Crendencial - 66DF4542</p>
      <p><a href="https://www.fiap.com.br/consultadocumento"
        target="_blank">Certificado de Qualificação Profissional em Análise de Sistemas e Prototipagem Web</a> - Código da Crendencial - 8175F911</p>
      <p><a href="https://hermes.dio.me/certificates/UUIVHU8U.pdf"
        target="_blank">Heineken - Inteligência Artificial Aplicada a Dados com Copilot</a></p>
<p><a href="https://cursos.alura.com.br/certificate/35880b55-d715-42d8-a96a-e911c4104f38?lang"
  target="_blank">C#: aplicando a Orientação a Objetos</a></p>
<p><a href="https://on.fiap.com.br/pluginfile.php/1/local_nanocourses/certificado_nanocourse/119827/60a1f4d4dc3af85c0833dfaf5ade5c62/certificado.png"
  target="_blank">Python Development</a></p>
<p><a href="https://on.fiap.com.br/pluginfile.php/1/local_nanocourses/certificado_nanocourse/109933/b5d9cc69265c5b5a2dad623b14223932/certificado.png"
  target="_blank">Java Fundamentos</a></p>
<p><a href="https://cursos.alura.com.br/certificate/1921f18e-2a9b-469a-bfb0-5699cd1e6c82?lang"
  target="_blank">Git e GitHub: compartilhando e colaborando em projetos</a></p>
<p><a href="https://school.englishlive.ef.com/school/certificate?key=GE_2" target="_blank">EF Nível 4 Elementar Nível A2 do QECR</a></p>
<p><a href="https://cursos.alura.com.br/certificate/79cda9aa-aa1f-4bed-9b7f-21c55cb76cfb?lang"
  target="_blank">C#: criando sua primeira aplicação</a></p>
<p><a href="https://cursos.alura.com.br/certificate/74821ad4-2fad-4bf4-a216-bd76168ad53e?lang"
  target="_blank">HTML e CSS: ambientes de desenvolvimento, estrutura de arquivos e tags</a></p>
  <hr />
  </div>
  <div class="content__title">
    <p>Para conferir mais, <a href="https://www.dio.me/users/markusjoaomarkus99">clique aqui</a>!</p>
    <hr />
  </div>

  <div class="content__description">
    <a [routerLink]="['']">  VOLTAR </a>
  </div>

</div>


