<div class="container__menu-bar">
  <ul>
    <a href="https://www.linkedin.com/in/joaomarkus2024/">
      <img src="https://img.icons8.com/?size=100&id=xuvGCOXi8Wyg&format=png&color=000000"
      alt="Ícone"
      style="width: 70px;
      height: 70px;
      margin-right: 5px;">
    </a>
    <a href="https://github.com/Joao-Markus-Barbosa">
      <img src="https://img.icons8.com/?size=80&id=12599&format=png&color=FFFFFF"
      alt="Ícone"
      style="width: 70px;
      height: 70px;
      margin-right: 5px;">
    </a>
  </ul>
</div>
